<div class="row">
    <div class="col s12 m9">
        <h3>
            {{blog.title}}
            <small>{{{editIcon blog.user.id user.id blog.id false}}}</small>
        </h3>
        <div class="card blog">
            <div class="card-content">
                <span class="card-title">{{formatDate blog.date 'MMMM Do YYYY'}}</span>
                {{{blog.body}}}
            </div>
        </div>
        {{#if blog.allowComments}}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Comments</span>
                    {{#if user}}
                        <form action="/blogs/comment/{{blog.id}}" method="POST">
                            <div class="input-field">
                                <textarea name="commentBody" class="materialize-textarea"></textarea>
                                <label>Add Comment</label>
                            </div>
                            <input type="submit" value="Submit" class="btn">
                        </form>
                    {{else}}
                        <p>Please login to leave a <a href="/auth/google">comment.</a></p>
                    {{/if}}
                </div>
            </div>
        {{#each blog.comments}}
        <div class="card">
            <div class="card-content">
                <h5>{{commentBody}}</h5>
                <div class="chip">
                    <img src="{{commentUser.image}}" alt="Login Member">
                    {{commentUser.firstName}} {{commentUser.lastName}}
                </div>
                <br>
                <small>Posted: {{formatDate commentDate 'MMMM Do YYYY LT'}}</small>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="col s12 m3">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{blog.user.firstName}} {{blog.user.lastName}}</span>
                <img src="{{blog.user.image}}" class="circle responsive-img"></img>
            </div>
            <div class="card-action">
                <a href="/blogs/user/{{blog.user.id}}">More from {{blog.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>